mixin picker(pickerClass, exitClass, mainClass)
   div.label-picker(class= pickerClass)
      div.header.header_picker
         h3.header__label.header__label_picker Выберите тему
         div.header__exit.header__exit_picker(class= exitClass)
      div.main.main_picker(class= mainClass)
         ul.label-picker__list
            each val in labels
               li.label-picker__item= val
