@import 'variables.less';

.header {
  width: 100%;
  position: relative;
}
.header_modal {
  background: @color-blue;
  height: 60px;
}
.header__label {
  font-style: normal;
  font-family: @label-font;
  line-height: 60px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.18);
  position: relative;
  margin: 0;
}
.header__label_modal {
  font-size: 18px;
  margin-left: 65px;
  color: #fefefe;
}
.header__label_modal:before {
  content: url(../img/icon-1.png);
  position: absolute;
  top: 8px;
  left: -40px;
}
.header__exit {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.header__exit_modal {
  background: url(../img/cross-1.png) no-repeat;
  height: 23px;
  width: 24px;
  top: 20px;
}
.header_picker {
  height: 50px;
}
.header__label_picker {
  margin-left: 20px;
  color: #808181;
  font-size: 14px;
  line-height: 50px;
}
.header__exit_picker {
  background: url(../img/cross-2.png) no-repeat;
  height: 13px;
  width: 13px;
  top: 18px;
}
.header__exit_closed {
  display: none;
}
