.label-picker {
  border: 1px solid #dbdfe2;
}
.label-picker + .label-picker {
  margin-top: 15px;
}
.label-picker__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
}
.label-picker__item {
  padding: 0 0 0 20px;
  flex: 1 1 250px;
  color: #77889d;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}
.label-picker__item:hover {
  background: #f3f6f7;
}
.picker_closed {
  cursor: pointer;
}