@import 'variables.less';

.labels-set {
  height: 40px;
}
.labels-set__label {
  color: @color-blue;
  font: normal 14px @label-font;
  margin: 0 15px 0 45px;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.labels-set__label:before {
  content: url(../img/icon-2.png);
  position: absolute;
  top: 7px;
  left: -34px;
}
.labels-set__placeholder {
  color: #898a8a;
  font-size: 13px;
}