*{
  box-sizing: border-box;
}
body {
  background: #9b9e9f;
  font: italic 13px 'OpenSans';
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.modal {
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.2), 0 4px 36px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 730px;
  margin: 50px auto 0;
}




