@font-face {
    font-family: 'Neris';
    src: local('Neris SemiBold'), local('Neris-SemiBold'), url('../fonts/nerissemibold.woff2') format('woff2'), url('../fonts/nerissemibold.woff') format('woff'), url('../fonts/nerissemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
