.header {
  width: 100%;
  position: relative;
}
.header_modal {
  background: #5ca2d3;
  height: 60px;
}
.header__label {
  font-style: normal;
  font-family: "Neris";
  line-height: 60px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.18);
  position: relative;
  margin: 0;
}
.header__label_modal {
  font-size: 18px;
  margin-left: 65px;
  color: #fefefe;
}
.header__label_modal:before {
  content: url(../img/icon-1.png);
  position: absolute;
  top: 8px;
  left: -40px;
}
.header__exit {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.header__exit_modal {
  background: url(../img/cross-1.png) no-repeat;
  height: 23px;
  width: 24px;
  top: 20px;
}
.header_picker {
  height: 50px;
}
.header__label_picker {
  margin-left: 20px;
  color: #808181;
  font-size: 14px;
  line-height: 50px;
}
.header__exit_picker {
  background: url(../img/cross-2.png) no-repeat;
  height: 13px;
  width: 13px;
  top: 18px;
}
.header__exit_closed {
  display: none;
}

.label-picker {
  border: 1px solid #dbdfe2;
}
.label-picker + .label-picker {
  margin-top: 15px;
}
.label-picker__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
}
.label-picker__item {
  padding: 0 0 0 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 250px;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  color: #77889d;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}
.label-picker__item:hover {
  background: #f3f6f7;
}
.picker_closed {
  cursor: pointer;
}

.labels-set {
  height: 40px;
}
.labels-set__label {
  color: #5ca2d3;
  font: normal 14px "Neris";
  margin: 0 15px 0 45px;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.labels-set__label:before {
  content: url(../img/icon-2.png);
  position: absolute;
  top: 7px;
  left: -34px;
}
.labels-set__placeholder {
  color: #898a8a;
  font-size: 13px;
}

.main_modal {
  padding: 20px 25px;
}
.main_picker {
  border-top: 1px solid #dbdfe2;
}
.main_closed {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #9b9e9f;
  font: italic 13px 'OpenSans';
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.modal {
  -webkit-box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.2), 0 4px 36px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.2), 0 4px 36px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 730px;
  margin: 50px auto 0;
}

