include ./jade-variables/labels.jade
include ./jade-mixins/picker.jade

doctype html
head
   title YLab
   link(href="styles/normalize.css" rel="stylesheet")
   link(href="styles/style.css" rel="stylesheet")
   link(href="styles/css.css" rel="stylesheet" type="text/css")
   link(href="styles/neris.css" rel="stylesheet")
   link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=cyrillic', rel='stylesheet', type='text/css')
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
   div.container
      div.modal
          div.header.header_modal
              h3.header__label.header__label_modal Добавление новости
              div.header__exit.header__exit_modal
          div.main.main_modal
              div.labels-set
                  h5.labels-set__label Метки
                  span.labels-set__placeholder Перечислите темы записи через пробел
              +picker()
              +picker('picker_closed','header__exit_closed','main_closed')

